.page-path {
    height: 73px;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0px 0.5px 0px 0px #575756;
    .path {
        margin-left: 20%;
        .underline {
            text-decoration: underline;
        }
    }
}


