@import '../../variables/_variables';

.header {
    width: 100%;
    height: 48px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
}
.hamburger {
    margin-left: 20%;
    width: 1.2%;
}
.header-logo {
    margin-left: 1%;
    width: 6%;
}
.left-arrow {
    margin-left: 3%;
    width: 0.3%;
}

.header-paragraph {
    margin-left: 1%;
    font-size: 13px;
    font-weight: 300;
    .shop-now {
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }

}
.right-arrow {
    margin-left: 1%;
    width: 0.3%;
}
.header-icons {
    display: flex;
    list-style: none;
    margin-left: 1.5%;
    gap: 1%;
    width: 30%;
    li {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        gap: 5%;
        width: 24%;
        .icon-svg {
            width: 15%;
        }

    }
}

